<div class="row justify-content-center">
    <div class="col-md-12">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="carousel-img" src="../../assets/img/highlight_urus.jpg" alt="Lamborghini Urus" />
                </div>
                <div class="carousel-caption d-block text-center">
                    <h3>Lamborghini Urus</h3>
                    <p>Um SUV de alta performance para quem busca luxo e potência.</p>
                    <p><strong>$486.754</strong></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="carousel-img" src="../../assets/img/highlight_i8.jpg" alt="BMW i8" />
                </div>
                <div class="carousel-caption d-block text-center">
                    <h3>BMW i8</h3>
                    <p>O carro híbrido esportivo que combina performance e sustentabilidade.</p>
                    <p><strong>$200.000.000</strong></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="carousel-img" src="../../assets/img/highlight_488.jpg" alt="Ferrari 488" />
                </div>
                <div class="carousel-caption d-block text-center">
                    <h3>Ferrari 488</h3>
                    <p>Experimente a adrenalina de um verdadeiro supercarro italiano.</p>
                    <p><strong>$500.550.000</strong></p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
